__pycache__
.ipynb_checkpoints/
.DS_Store
config.json
ruff.toml
*.egg-info
.vscode/
launch.json
.pytest_cache/
.ruff*
.claude
.venv
venv
build/
dist/
_version.py
*.txt
!testing_audio.txt
*.srt
!testing_audio.srt
*.wav
!testing_audio.wav
*.mp3
!testing_audio.mp3
*.m4a
!testing_audio.m4a