# Artifacts
__pycache__
.ipynb_checkpoints/
.DS_Store
config.json
ruff.toml
*.egg-info
.vscode/
launch.json
.pytest_cache/
.ruff*
.claude
.venv
venv
build/
dist/
_version.py

# Media and output
*.txt
*.srt
*.wav
*.mp3
*.m4a
!test0*

# Deprecated
requirements.txt